nav(class= nav ? 'transparent' : 'nav')
  .nav-wrapper
    a.left.brand-logo(href="/")
      img(src="/images/bandboardnoback.png" width= '200px')

    ul.right.hide-on-med-and-down
      li
        form(name='bandsearch', method='get', action='/search')
          .input-field
            input.bandSearch.search(name='bandname', type='search' required)
            label(for="search")
              i.material-icons.md-light search
            i.material-icons.md-light close
      li
        a(href="/bands") Band Database
      if (currentUser)
        li
          a(href="/user") Profile
        li
          a(href="/logout") Logout
      else
        li
          a(href="/login") Log-In
        li
          a(href="/signup") Sign-Up
    a.button-collapse.right(href="#" data-activates="mobile-nav")
      i.material-icons menu
    //- Dropdown structure
    ul.side-nav.right#mobile-nav
      li
        form(name='bandsearch', method='get', action='/search/')

          .input-field
            input.bandSearch.search(name='bandname' type='search', required)
            label(for="search")
              i.material-icons.md-dark search
            i.material-icons.md-dark close
      if (currentUser)
        li
          a(href="/logout") Logout
      else
        li
          a(href="/login") Log-In
        li
          a(href="/signup") Sign-Up
