nav(class= nav ? 'transparent' : '')
  .nav-wrapper
    a.left.brand-logo(href="#")
      img(src="../images/bandboardnoback.png" width= '200px')
    a.button-collapse.right(href="#" data-activates="mobile-nav")
      i.material-icons menu
    ul.right.hide-on-med-and-down

      li
        a(href="/logout") Logout

      li
        a(href="/login") Log-In
      li
        a(href="/signup") Sign-Up
    //- Dropdown structure
    ul.side-nav.right#mobile-nav

      li
        a(href="/logout") Logout
      li
        a(href="/login") Log-In
      li
        a(href="/signup") Sign-Up

