doctype html
head
  title= title
  meta(name='viewport', content="width=device-width, initial-scale=1")
  //- Import Google Icon Font
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  link(rel='stylesheet', href='/stylesheets/style.min.css')
  link(rel='stylesheet', href='//cdnjs.cloudflare.com/ajax/libs/fullcalendar/2.6.0/fullcalendar.min.css')
  body
  unless ignoreNav
    include ./_nav.jade

  block content

  script(type='text/javascript', src='/javascripts/jquery.min.js')
  script(type='text/javascript', src='/javascripts/moment.min.js')
  script(type='text/javascript', src='/javascripts/fullcalendar.min.js')
  script(type='text/javascript', src='/javascripts/materialize.min.js')
  script(type='text/javascript', src='/javascripts/band-board.min.js')



