extends ./layout.jade

block content
  .loginBack
    .row
      include ./error.jade
      h2 Login
      form.col.s5(name="signUp", method="post", action='/login')
        include ./_loginform.jade
