extends ./layout.jade

block content
  .loginBack
    .container-fluid
      include ./error.jade
        .row
          .col.s5.vert.offset-s1
            .row
              .localLogin.col.s12
                h2 Login
                form.col.s12(name="signUp", method="post", action='/login')
                  include ./_loginform.jade
          .loginRemote.col.offset-s1.s5
            h2 Via Social Media
            ul
              li
                a.socialLogin.waves-effect.waves-light.btn-large(href='#') Sign in Via Facebook
              li
                a.socialLogin.waves-effect.waves-light.btn-large(href='#') Sign in Via Twitter
              li
                a.socialLogin.waves-effect.waves-light.btn-large(href='#') Sign in Via Spotify

