extends ./layout.jade

block content
  .login-container
    include ./error.jade
    .center-align
      img(class='largeLogo' src='./images/largelogo.png')
    .row
      .col.m6.vert.s12
        .row
          .localLogin.col.s12
            h4 Sign-Up
            form.col.s12(name="signUp", method="post", action='/signup')
              include ./_loginform.jade
              br
              a.s12.btn.waves-effect.waves-light(href='./login') Log-In
      .loginRemote.col.m5.s12
        h4 Via Social Media
        ul
          li.center-align
            a.socialLogin.waves-effect.waves-light.hide-on-med-and-down.btn-large(href='#') Sign-Up Via Facebook
            a.socialLogin.waves-effect.waves-light.hide-on-large-only.show-on-small.btn(href='#') Sign-Up Via Facebook
          li.center-align

            a.socialLogin.waves-effect.waves-light.hide-on-med-and-down.btn-large(href='/auth/twitter') Sign-Up Via Twitter
            a.socialLogin.waves-effect.waves-light.hide-on-large-only.show-on-small.btn(href='/auth/twitter') Sign-Up Via Twitter

          li.center-align
            a.socialLogin.waves-effect.waves-light.hide-on-med-and-down.btn-large(href='#') Sign-Up Via Spotify
            a.socialLogin.waves-effect.waves-light.hide-on-large-only.show-on-small.btn(href='#') Sign-Up Via Spotify
  .loginBack
