extends ./layout.jade

block content
  .loginBack
    .row
      //include ./error.jade
      h2 Sign-Up
      form.col.s5(name="signUp", method="post", action='/signup')
        include ./_loginform.jade
