.largeLogo{
  width: 40%;
  margin: 0 auto;
  margin-top: -50px;
}
.loginBack {
  display: fixed;
  top: 0;
  z-index: -1;
  padding-top: 50px;
  background: url('../images/loginback.jpg') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
}

.login-container{
  width: 90%;
  height: 85vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0 auto;
  margin-top: 50px;
   /* label color */
   .input-field label {
     color: $primaryDarkText;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: $primaryDarkText;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 10px solid $primaryDarkText;
     box-shadow: 0 1px 0 0 $primaryDarkText;
   }
   h4{
    text-align: center;
   }
}

.loginRemote{
  .socialLogin{
    width: 350px;
    margin: 5px auto;
  }
}

.localLogin{
  a{
    margin-top: 5px;
  }
}
