body {
  font: 24px "Lucida Grande", Helvetica, Arial, sans-serif; }

h1 {
  margin: 0; }

a, p {
  color: #ffffff; }

.brand-logo img {
  margin: 10px; }

.jumbotron {
  margin-top: -64px;
  background: url("../images/band_back.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh; }

.transparent {
  color: black; }
