@import 'styleguide.scss';

.error{
  color: black;
  font-size: 24px;
}

h1 {
  margin: 0
}

.brand-logo img {
  margin: 10px
}
.material-icons.md-light{
  color: $primaryLightText;
}
.material-icons.md-dark{
  color: $primaryDarkText;
}

.jumbotron {
  margin-top: -64px;
  background: url('../images/band_back.png') no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: $primaryLightText;
  .callToAction {
      width: 75%;
      text-align: center;
      margin-top: 10px;

    .largeCopy,
    .smallerCopy {
    }
    .largeCopy {
      font-size: 80px;
      font-weight: bold;
      line-height: 20%;
    }
    .smallerCopy {
      font-size: 32px;
      padding: 0 12.5%;
      font-weight: light;
      font-style: italic;
    }
    .btn-large{
      margin: 0 10px;
    }
  }
}

.transparent {
  color: black;
}

.nav{
  background: #ADCAE6;
}


@import 'loginstyles.scss';
