.error {
  color: black;
  font-size: 24px; }

h1 {
  margin: 0; }

.border-dark {
  border-bottom: 10px solid #212121;
  box-shadow: 0 1px 0 0 #212121; }

.brand-logo img {
  margin: 10px; }

.material-icons.md-light {
  color: #FFFFFF; }

.material-icons.md-dark {
  color: #212121; }

.vert {
  height: 500px;
  border-right: 3px solid #3c3c3c; }

.vr {
  color: #3c3c3c; }

.jumbotron {
  margin-top: -64px;
  background: url("../images/band_back.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: #FFFFFF; }
  .jumbotron .callToAction {
    width: 75%;
    text-align: center;
    margin-top: 10px; }
    .jumbotron .callToAction .largeCopy {
      font-size: 80px;
      font-weight: bold;
      line-height: 20%; }
    .jumbotron .callToAction .smallerCopy {
      font-size: 32px;
      padding: 0 12.5%;
      font-weight: light;
      font-style: italic; }
    .jumbotron .callToAction .btn-large {
      margin: 0 10px; }

.transparent {
  color: black; }

.nav {
  background: #ADCAE6; }

.loginBack {
  padding-top: 30px;
  background: url("../images/loginback.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  /* label color */
  /* label focus color */
  /* label underline focus color */ }
  .loginBack .input-field label {
    color: #212121; }
  .loginBack .input-field input[type=text]:focus + label {
    color: #212121; }
  .loginBack .input-field input[type=text]:focus {
    border-bottom: 10px solid #212121;
    box-shadow: 0 1px 0 0 #212121; }

.loginRemote .socialLogin {
  width: 375px;
  margin: 20px auto; }
