//@import '../bower_components/Materialize/sass/materialize.scss';

body {
  font: 124px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: grey;
}

p {
  margin: 300px;
}

a, p {
  color: #ffffff;
}
