$lightPrimary: #B3E5FC;
$primary: #03A9F4;
$darkPrimary: #0277BD;
$accent: #FF1744;

$primaryDarkText: #212121;
$secondaryDarkText: #f7f7f7;
$disabledDarkText: #9b9b9b;
$dividersDark: #3c3c3c;

$primaryLightText: #FFFFFF;
$secondaryLightText: #bcbcbc;
$disabledLightText: #646464;
