.error {
  color: black;
  font-size: 24px; }

h1 {
  margin: 0; }

.brand-logo img {
  margin: 10px; }

.jumbotron {
  margin-top: -64px;
  background: url("../images/band_back.png") no-repeat center center fixed;
  background-size: cover;
  height: 100vh;
  color: #FFFFFF; }
  .jumbotron .callToAction {
    width: 75%;
    text-align: center;
    margin-top: 10px; }
    .jumbotron .callToAction .largeCopy {
      font-size: 80px;
      font-weight: bold;
      line-height: 20%; }
    .jumbotron .callToAction .smallerCopy {
      font-size: 32px;
      padding: 0 12.5%;
      font-weight: light;
      font-style: italic; }
    .jumbotron .callToAction .btn-large {
      margin: 0 10px; }

.transparent {
  color: black; }

.nav {
  background: #ADCAE6; }

.loginBack {
  background: url("../images/loginback.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 100vh; }
  .loginBack h2 {
    margin-top: -1.78rem; }
