include ../layout.jade

.userProfile.row
  .aside.col.s3.z-depth-2
    .profileImg
      if !user.local.image
        img(src='./images/user_placeholder.png')
      else
        img(src="#{user.local.image}")
      if !user.local.name
        h3
          a(href='/user/'+ user._id + '/edit') Add Your Info
      else
        h3= user.local.name
        h5
          a(href=user.local.twitter, target="_blank") twitter
        br
        a(href='/user/bands') My Bands
        br
        br
        a(href='/user/'+ user._id + '/edit') Add Info
  .calendar.col.s9
    #calendar
  #modal1.modal
    .modal-content
      h4.showTitle Modal Header
      p.datetime
      p.venue A bunch of text
      p.availability
      a.rsvp(href="#!") RSVP on Facebook
      ul.bandsPlaying
    .modal-footer
      a(href="#!" class="ticketLink modal-action modal-close waves-effect waves-green btn-flat") Buy A Ticket!


