include ../layout.jade

.userProfile.row
  .aside.col.s3.z-depth-2
    .profileImg
      if !user.local.image
        img(src='./images/user_placeholder.png')
      else
        img(src="#{user.local.image}")
      if !user.local.name
        h3
          a(href='/user/'+ user._id + '/edit') Add Your Info
      else
        h3= user.local.name
        h5= user.local.twitter
        br
        a(href='/user/bands') My Bands
        br
        br
        a(href='/user/'+ user._id + '/edit') Add Info
  .calendar.col.s9
    #calendar
