include ../layout.jade


div(id='calendar')


script.
      $(document).ready(function() {
          var JSON = [{
            "title" : "Demo event",
            "start" : "2016-2-15 22:20:00",
            "allDay" : true
                  }
          ];
          $('#calendar').fullCalendar({
            events: JSON
          })
      });
