include ../layout.jade

.userProfile.row
  .aside.col.s3.z-depth-2
    .profileImg
      img(src='https://www.fillmurray.com/200/200')
    h3 Username
    h5 @Twitter
    br
    a(href='/user/bands') My Bands
  .calendar.col.s9
    #calendar

<<<<<<< HEAD
h1 Profile
  a(href="/user/#{user._id}/edit") Edit
  br
  a(href='/user/bands') My Bands
=======
>>>>>>> 14c93d36f7fb77330081acf21c3ea79b1ac7383b

  script.
        $(document).ready(function() {
            var JSON = [{
              "title" : "Demo event",
              "start" : "2016-2-15 22:20:00",
              "allDay" : true
                    }
            ];
            $('#calendar').fullCalendar({
              events: JSON
            })
        });
