include ../layout.jade

block content

  ul
    li
      h1(id="bandName")= band.name
    li= band.bio
    li
      img(src=band.img)
    li
      a(href=band.website) Band website
  br
  a(href='/bands') Back to Bands

  div(id='calendar')

script.
      $(document).ready(function() {
        function searchEventsInTown() {
          // event.preventDefault();
          var $artist = $('#bandName').text();
          $('#info').html('<p>getting events with ' + $artist + '</p>');
          //var $term = $('search-keyword').val();
          var url = 'http://api.bandsintown.com/artists/' + $artist + '/events.json?api_version=2.0&app_id=johnk';

          $.ajax({
            url: url,
            method: "GET",
            data: {
              format: 'json'
           },
           error: function() {
              $('#info').html('<p>An error has occurred</p>');
           },
            dataType: 'jsonp',
            success : function(data) {
            // displayResults(data);
            console.log(data);
            return data;
          }
        });
        }
          var bandEvents = searchEventsInTown();

          var JSON = [{
            "title" : bandEvents[0].title,
            "start" : "2016-2-15 22:20:00",
            "allDay" : true
                  }
          ];
          $('#calendar').fullCalendar({
            events: JSON
          })
      });


