include ../layout.jade

block content
  .bandProfile.row.z-depth-1
    .bandInfo.col.s6.row
      .imageBand
        img(src=band.img)
      .bandNames
        h3(id='bandName')= band.name
        h5 @Twitter
    .bandInfo.col.s6
      p= band.bio
    .bandLinks
      br
      a(href="https://#{band.website}") Bands Website
      br
      a(href='/bands') Back to Bands
  .calendar.row
    #calendar.s12
  #modal1.modal
    .modal-content
      h4.showTitle Modal Header
      p.datetime
      p.venue A bunch of text
      p.availability
      a.rsvp(href="#!") RSVP on Facebook
      h6 With:
      ul.bandsPlaying
    .modal-footer
      a(href="#!" class="ticketLink modal-action modal-close waves-effect waves-green btn-flat") Buy A Ticket!
      a(href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat") Add to My Calendar
