extends ../layout.jade

block content

  ul
    li
      h1= band.name
    li= band.bio
    li
      img(src=band.img)
    li
      a(href=band.website) Band website



  br
  a(href='/bands') Back to Bands


