extends ../layout.jade

block content
  .bandProfile.row.z-depth-1
    .bandInfo.col.s6.row
      .imageBand.col.s6
        img(src=band.img)
      .col.s6.bandNames
        h3= band.name
        h5 @Twitter
    .bandInfo.col.s6
      p= band.bio
    .bandLinks
      br
      a(href="https://#{band.website}") Bands Website
      br
      a(href='/bands') Back to Bands
  .calendar.row
    #calendar.s12


  script.
        $(document).ready(function() {
            var JSON = [{
              "title" : "Demo event",
              "start" : "2016-2-15 22:20:00",
              "allDay" : true
                    }
            ];
            $('#calendar').fullCalendar({
              events: JSON
            })
        });
