include ../layout.jade

block content
  .bandProfile.row.z-depth-1
    .bandInfo.col.s6.row
      .imageBand
        img(src=band.img)
      .bandNames
        h3#bandName= band.name
        h5 @Twitter
    .bandInfo.col.s6
      p= band.bio
    .bandLinks
      br
      a(href="https://#{band.website}") Bands Website
      br
      a(href='/bands') Back to Bands
  .calendar.row
    #calendar.s12
